

a {
    text-decoration: none;
    color: black;
}
header h1:nth-child(1) {
    box-sizing: border-box;
    text-align: center;
    color: rgb(1, 18, 179);
    background-color: aquamarine;
    
   
}
div#links{
    background-color: blue;
  
}
ul {
    overflow: hidden;
    background-color: rgb(37, 37, 211);
    
}
ul li:nth-child(-n+3) {
    float: right;
    display: block;
    background-color: rgb(37, 37, 211);
    padding-left: 20px;
    padding: 10px;
    font-size: 18px;
}
ul li:nth-child(-n+3):hover{
    background-color: aquamarine;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
td, th, caption {
    border: 1px black solid;
    
}
section {
    float: left;
    overflow: hidden;
    width: 400px;
    
}

aside {
    height: 300px;
}
@media  screen and (max-width: 500px) {
    header h1:nth-child(1) {
        background-color: aqua;
       
    }
    section {
     float: none;       
    }
    aside {
        height: auto;
    }
}
@media  screen and (max-width: 900px) and (min-width : 412px) {
    header h1:nth-child(1) {
        background-color: rgb(4, 107, 35);
    }
}
